:root {
    font-size: 16px;
}

body {
    background-color: $light-black;
    color: $white;
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
