
    $byzantium:#702963;
    $dark-byzantium:#5D3954;
    $dark-byzantium-transparent:rgba(93, 57, 84, 0.5);
    $light-black: #313131;
    $medium-black: #292929;
    $dark-black:#1F1F1F;
    $dark-black-transparent:rgba(31, 31, 31, 0.5);
    $white:#FFF;

    $breakpoint-md:650px;
    $breakpoint-lg:1000px;
    $breakpoint-xl:1320px;
    $breakpoint-xxl:1600px;